.mainBody {
	/* Background color set as workaround for Legacy Android issue:
	https://github.com/AppGyver/steroids/issues/381 */
	background-color:#FFFFFF;
}
* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

input {
  -webkit-user-select: text;  /* Allow selection for input elements */
}

.padding{
  padding-left: 15px;
  padding-right: auto;
  padding-top: 30px;
}
html, body {
  padding: 0;
  margin: 0;
}
h2.textOnProfile{
  color:white;
}
#hello{width: 90px;
    height: 90px;}
.profile{
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 15px;
}