.mainBody {
	/* Background color set as workaround for Legacy Android issue:
	https://github.com/AppGyver/steroids/issues/381 */
	background-color:#FFFFFF;
}
* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

input {
  -webkit-user-select: text;  /* Allow selection for input elements */
}

.padding{
  white-space: normal; 
  display: inline-block;
  margin: 0 auto; 
  padding: 0; 
  letter-spacing: normal;
  word-spacing : normal; 
}
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
h2.textOnProfile{
  color:white;
}
.hello{width: 90px;
    height: 90px;}
.profile{
	padding-left: 15px;
	padding-top: 30px;
	padding-right: 15px;
}
.test{
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	position: static;
    height: 100%;	}
#caption{
text-align:center;
}
.picturesOfMainMenu{
  white-space: normal; 
  display: inline-block;
  margin: 0; 
  padding: 5px; 
  letter-spacing: normal;
  word-spacing : normal; 
}
.textSub{
float:right;
line-height: 100px;
}