.mainBody {
	/* Background color set as workaround for Legacy Android issue:
	https://github.com/AppGyver/steroids/issues/381 */
	background: -webkit-linear-gradient(#ecf0f1,#bdc3c7, #ecf0f1);
}
* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

input {
  -webkit-user-select: text;  /* Allow selection for input elements */
}

.mainBody .row .col{
text-align:center;
}
h2.textOnProfile{
  color:white;
}
	
.profile{
	padding-left: 10%;
	padding-top: 4%;
	padding-right:3%
}
.test{
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	position: static;
    height: 100%;	}
#caption{
	text-align:center;
	font-family: 'quicksand', sans-serif;
	font-weight: bold;
}

.halfscreen{
    height: 100%;
	margin: 0 auto;
}
.halfscreen .scrollingLeft{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	position: static;
	width:50%;
    float: left;
	height:100%;
}

.halfscreen .list{
    border: .5px solid #a1a1a1;
  }
.halfscreen .scrollingRight{
    float: left;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	position: static;
    height: 100%;
	width:50%;
}
/*Iphone 6+*/
@media only screen and (min-device-width: 400px) and (max-device-width: 415px) {
.hello{width: 125px;
    height: 125px;
	}
.mainBody .row{
padding-left: 0px;
padding-top: 10%;
padding-right:0px;
}
 }
 /*Iphone 6- moto G*/
@media only screen and (min-device-width: 330px) and (max-device-width: 400px) {
.hello{width: 110px;
    height: 110px;
	}
.mainBody .row{
padding-left: 0px;
padding-top:7%;
padding-right:0px;
}
}
/*Iphone 5s,5,4s*/
@media only screen and (min-device-width: 319px) and (max-device-width: 321px) {
.mainBody .row{
padding-left: 0px;
padding-top:2.5%;
padding-right:0px;
}
.hello{width: 94px;
    height: 94px;
	}
 }
 .active{
 background:bdc3c7;
 }